# Java / Maven
plugin/target/
*.class

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Env
.env
.env.local

# Foundry
web3/out/
web3/cache/

# OS / IDE
.DS_Store
.idea/
.netbeans/
.vscode/
